<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>
            {{ message }}
        </p>
        <!-- 반복 렌더링 -->
        <ol>
            <li v-for="item in list">{{item}}</li>
        </ol>
        <!-- 이벤트 사용하기 -->
        <button v-on:click="handleClick">Click</button>
        
        <!-- 입력 양식과 동기화 하기 -->
        <p> {{formMessage}}</p>
        <input v-model="formMessage">
        <br/><br/><br/><br/>
        <!--조건 분기-->
        <!--transition, animation-->
        <button v-on:click="show =! show">Change</button>
        <transition>
            <p v-if="show">Hello Vue.js!</p>
        </transition>
        <br/><br/><br/><br/>
        
        <!-- 클릭으로 카운터 수 늘리기 -->
        <p>{{count}} 번 클릭했습니다.</p>
        <button v-on:click="increment">카운트 하기 </button>
        <br/><br/><br/><br/>

        <!-- 조건을 사용해서 클래스 조작하기-->
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>